#php_value	display_errors			On
#php_value	short_open_tag			Off
#php_value	magic_quotes_gpc		Off
#php_value	magic_quotes_runtime	Off
#php_value	magic_quotes_sybase		Off
#php_value	allow_call_time_pass_reference	Off
#php_value	register_long_arrays	Off
#php_value	register_globals		Off
#php_value	date.timezone			PRC
#
#RewriteEngine on
#
#RewriteRule s/p1/$ /s/$1 [R=301,L]
#
#RewriteCond %{REQUEST_URI} !\.(js|ico|gif|jpg|png|css|html|swf)$
#
#RewriteRule . index.php
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#
#
#RewriteRule ^(.*)$ /index.php/$1 [PT,L]


#RewriteCond %{SERVER_PORT} !^443$
#RewriteCond %{REQUEST_URI} !^/tz.php
#RewriteRule (.*) https://%{SERVER_NAME}/$1 [R]


